<div class="player-description" *ngIf="player">
  <div class="player-info-wrapper--5Hyf2">
    <div class="player-info-body--2kj4x">
      <div class="playerPhoto--1OjK7">
        <div class="shirtNumberWrapper--15Iln">
          <div class="smallWrapper--3Vmqt">
            <img
              crossorigin="anonymous"
              class="smallPhoto--173yi"
              src="https://searchapi.wyscout.com/photos/players/public/photo-not-found.png"
              [alt]="player.nom"
              [title]="player.nom"
            />
          </div>
        </div>
      </div>
      <div class="info--3G3Z_" style="height: 35px">
        <div class="main-info--1RXjv">
          <div class="name--2Xs54" style="max-width: 100px">
            {{ player.prenom | slice : 0 : 1 | uppercase }}. {{ player.nom }}
          </div>
          <!-- <div class="dob--9kkH5"> '02</div> -->
        </div>
        <div class="additional-info--1Z4FM">
          <div class="team--STA1O" style="max-width: 118px">
            {{ player.club_slug }}
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-sm p-0" (click)="remove(player)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

