   <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>{{body}}</div>
    <div mat-dialog-actions [align]="center">
      <button mat-button color="warn" (click)="confirmclose()" cdkFocusInitial>
        Ok
      </button>
    </div>
