<div class="header">
  <div>
    <h1>Composit</h1>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Player Count</mat-label>
      <mat-select
        [(ngModel)]="selectedPcount"
        (ngModelChange)="onSelectionPcountChange($event)"
      >
        <mat-option *ngFor="let pcount of Pcounts" [value]="pcount.nbr">
          {{ pcount.nbr }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Composition</mat-label>
      <mat-select
        [(ngModel)]="selectedPlan"
        (ngModelChange)="onSelectionPlanChange($event)"
      >
        <mat-option *ngFor="let plan of plans" [value]="plan.label">
          {{ plan.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
<mat-slider min="50" max="150" value="100" step="25" showTickMarks discrete [displayWith]="formatLabel" [(ngModel)]="zoom">
  <input  matSliderThumb />
</mat-slider>
<input type="range" min="0" max="100" value="50" id="slider">
    <mat-form-field>
      <mat-label>Zoom</mat-label>
      <mat-select
        [(ngModel)]="selectedZoom"
        (ngModelChange)="onSelectionZoomChange($event)"
      >
        <mat-option *ngFor="let z of Zoom" [value]="z.key">
          {{ z.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Background</mat-label>
      <mat-select
        [(ngModel)]="selectedBgimgs"
        (ngModelChange)="onSelectionBgimgChange($event)"
      >
        <mat-option *ngFor="let bg of Bgimgs" [value]="bg.url">
          {{ bg.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-button color="primary" (click)="save()">Save</button>
  </div>
</div>

<div class="field-area--27GhY" style="background-color: inherit">
  <div
    class="position-wrapper"
    style="
      position: relative;
      zoom: 1;
      margin: 50px auto;
      background-image: url();
    "
    [ngStyle]="{
      width: Screen.width + 'px',
      height: Screen.height - 1 + 'px',
      transform: 'scale(' + selectedZoom + ')',
      'background-image': 'url(' + selectedBgimgs + ')'
    }"
  >
    <ng-container *ngFor="let block of plan?.blocks; let i = index">
      <app-player-list
        style="
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: space-evenly;
        "
        *ngIf="block"
        [ngStyle]="{ height: blocks_h - 5 + 'px', 'align-items': 'flex-end' }"
        [block]="block"
      ></app-player-list>
    </ng-container>
  </div>
  <div></div>
</div>
