<div>
  <div>
    <div class="players-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <app-player-description
        cdkDrag
        *ngFor="let player of players"
        [player]="player"
        class="player_desc"
        (removeplayerevent)="removeplayer($event)"
      >
      </app-player-description>
    </div>
    <div class="players-list-arrow"></div>
  </div>
  <div class="favorite-position-on-green flex-center">
    <div class="position-settings">
      <div class="btn-icons">
        <button class="btn btn-sm">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="btn btn-sm" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>

        <button class="btn btn-sm">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
