<h1 mat-dialog-title>Ajouter joueur dans postion</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  Recherche des joueurs
  <br />
  <br />

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Nom de joueur </mat-label>

      <input
        matInput
        placeholder="Checher ..."
        [matAutocomplete]="auto"
        [formControl]="searchPlayers"
        placeholder="Minimum 3 char Ex. Ched"
      />
    <button
      *ngIf="selectedPlayer"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSelection()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelected($event)"
      [displayWith]="displayWith"
    >
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option
          *ngFor="let player of filteredPlayers"
          [value]="player"
          (change)="selected(player)"
        >
          <div class="flex-center" style="justify-content: space-between">
            <div class="flex-center">
              <img [src]="player.img" class="img-player" [title]="player.nom" />
              <b>{{ player.nom }} - {{ player.prenom }}</b>
            </div>
            <div>
              <span> ({{ player.club_slug }}) </span>
            </div>
          </div>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <ng-container *ngIf="errorMsg">
    {{ errorMsg }}
  </ng-container>
</div>
